<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182981659642-0r6s26ds8imdg05i5h92g88k5otm0qtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182981659642-0r6s26ds8imdg05i5h92g88k5otm0qtd</string>
	<key>API_KEY</key>
	<string>AIzaSyCmg_00RBIARlTtA3FnLMpmLl_IkmQ1DSw</string>
	<key>GCM_SENDER_ID</key>
	<string>182981659642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miraclestudios.jsrForms</string>
	<key>PROJECT_ID</key>
	<string>ieee-custom-forms-181e4</string>
	<key>STORAGE_BUCKET</key>
	<string>ieee-custom-forms-181e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182981659642:ios:7951c3e8d7f8eea6543243</string>
</dict>
</plist>